Data/*
cache/

#These are the files we are keeping
!Data/franklin_county_traffic_lights.csv
!Data/fastfood_ohio.gpkg 
!Data/fastfood_all_ohio.gpkg 
!Data/fastfood_nodrivethrough_ohio.gpkg
!Data/fastfood_location_name_amenity.gpkg
!Data/pizza_places_ohio.gpkg
!Data/pizza_location_name_cuisine.gpkg
!Data/coffee_places_ohio.gpkg
!Data/CrashStatisticsFranklinCounty.csv
!Data/CrashStatisticsFranklinCountyNarrative.csv
!Data/Franklin_DocumentNumber_Narrative_part1.csv
!Data/Franklin_DocumentNumber_Narrative_part2.csv
!Data/Fastfood_filtered_narratives_DocumentNumber.csv
!Data/Franklin_DocumentNumber_Narrative_Latitude_Longitude_full.csv
!Data/Franklin_DocumentNumber_Narrative_full.csv
!Data/Municipal_Boundaries.*


# Ignore everything in presentations except .tex and .pdf
presentation/*
!presentation/*.tex
!presentation/*.pdf

# Ignore everything in executive summary except .tex and .pdf
executive summary/*
!executive summary/*.tex
!executive summary/*.pdf