Data/*
cache/

#These are the files we are keeping
!Data/fastfood_ohio.gpkg 
!Data/fastfood_all_ohio.gpkg 
!Data/fastfood_nodrivethrough_ohio.gpkg
!Data/CrashStatisticsFranklinCounty.csv
!Data/CrashStatisticsFranklinCountyNarrative.csv

# Ignore everything in presentations except .tex and .pdf
presentation/*
!presentation/*.tex
!presentation/*.pdf

# Ignore everything in executive summary except .tex and .pdf
executive summary/*
!executive summary/*.tex
!executive summary/*.pdf